.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

.DS_Store
.idea/
.vscode/

runs/
reports/
*.log

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

src/data/0b72cddfc51c45b188e0e6cd8927227e/
*.pdf
